* {
    body-sizing: border-box;
  }
  
  body {
    font-family: arial;
    padding: 50px;
    background: #f1f1f1
  }
  
  .kepala {
      padding: 50px;
      text-align: center;
      background: white;
  }
  
  .kepala h1 {
      font-size: 50px;
  }
  
  .mennuatas {
      overflow: hidden;
      background-color: #333;   
  }
  
  .memuatas a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 30px 30px;
      text-decoration: none;
  }
  
  .menuatas a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .kiri {
      float: left;
      width: 75%;
  }
  
  .kanan {
      float: left;
      width: 25%;
      background-color: #f1f1f1;
      padding-left: 20px;
  }
  
  .gambar {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
  }
  
  .kartu {
      background-color: white;
      padding: 20px;
      margin-top: 20px;
  }
  
  .baris::after {
      content: "";
      display: table;
      clear: both;
  }
  
  .kaki {
      padding: 20px;
      text-align: center;
      background: #ddd;
      margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
      .kiri, .kanan {
          width: 100%;
          padding: 0;
      }
  }
  
  @media screen and (max-width:400px) {
      .menuatas a {
          float: none;
          width: 100%;
      }
  }